html {
  width: 38.4rem;
  height: 143.74rem;
  background: F9F9F9;
  overflow-x: hidden;
}
.jump,
.font2,
.footer2,
.aboutMore,
.more,
.detailedMore,
.productMore,
.newsFont2-3,
.introduce > div,
.newsDel > div,
.problem,
.problemFont2,
.productFont {
  text-align: center;
}
.main {
  width: 38.4rem;
  height: 18.36rem;
  background: url("../assets/index/index.png") no-repeat;
  position: relative;
}
.font,
.font1,
.font2 {
  position: absolute;
  font-weight: normal;
  color: #FFFFFF;
}
.font {
  font-size: 1.44rem;
  top: 4.32rem;
  left: 16.42rem;
}
.font1 {
  font-size: 1.44rem;
  top: 6.12rem;
  left: 14.32rem;
}
.font2 {
  width: 14.8rem;
  height: 2.14rem;
  font-size: 0.48rem;
  top: 8.34rem;
  left: 11.8rem;
}
.more,
.detailedMore,
.productMore {
  position: absolute;
  left: 17rem;
  width: 4.4rem;
  height: 1rem;
  background: #3488EA;
  border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
  line-height: 1rem;
  font-size: 0.6rem;
  font-weight: normal;
  color: #FFFFFF;
  cursor: pointer;
}
.more {
  top: 11.24rem;
}
.detailedMore {
  top: 19rem;
  left: 17rem;
}
.productMore {
  top: 24rem;
  left: 17rem;
}
.business,
.product,
.advantage,
.about,
.enterprise,
.news {
  position: relative;
  width: 38.4rem;
  height: 20rem;
}
.news {
  height: 24rem;
}
.enterprise {
  height: 16rem;
  background: url("../assets/index/enterprise.png") no-repeat;
}
.advantage {
  height: 14rem;
}
.content,
.productPic,
.aboutPic,
.enterprisePic,
.newsPic {
  width: 26.88rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 8rem;
  left: 7.66rem;
}
.aboutPic > div > img {
  width: 13.52rem;
  height: 8.86rem;
}
.enterprisePic {
  top: 7rem;
  width: 22.66rem;
  left: 7.68rem;
}
.newsPic {
  width: 22.66rem;
  left: 6.91rem;
  top: 8.6rem;
}
.newsPic2 {
  position: relative;
}
.newsPic1 > img:hover {
  box-shadow: 0.02rem 0.02rem 0.2rem rgba(0, 0, 0, 0.5);
  margin-top: -0.1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-shadow: 0.2rem 0.2rem 0.1rem #888888;
}
.newsPic1 > img {
  width: 5.6rem;
  height: 3.2rem;
}
.productPic > div > img {
  width: 5.8rem;
  height: 4.4rem;
}
.newsFont2-1 {
  position: absolute;
  top: 0.01rem;
  left: 0.01rem;
  font-size: 0.4rem;
  font-weight: 400;
  color: #333333;
}
.newsFont2-2 {
  position: absolute;
  top: 0.8rem;
  left: 0.01rem;
  width: 100%;
  font-size: 0.26rem;
  font-weight: 400;
  color: #666666;
  line-height: 0.5rem;
}
.newsFont2-3 {
  position: absolute;
  top: 2.5rem;
  left: 0.01rem;
  width: 2.2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.36rem;
  font-weight: 400;
  color: #FFFFFF;
  background: #3488EA;
  border-radius: 0.06rem;
  cursor: pointer;
}
.newsFont2-4 {
  position: absolute;
  top: 2.6rem;
  right: 0.2rem;
  width: 1.92rem;
  font-size: 0.32rem;
  font-weight: 400;
  color: #666666;
}
.product {
  height: 24rem;
}
.productPic {
  top: 8rem;
  left: 6rem;
}
.enterprisePic > div {
  flex: 1;
  width: 33.3%;
  min-width: 33.3%;
  max-width: 33.3%;
  height: 4rem;
}
.newsPic > div {
  flex: 1;
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  height: 4rem;
  margin-right: -0.1rem;
}
.pic1 {
  background: url("../assets/index/1.png") no-repeat;
}
.pic2 {
  background: url("../assets/index/2.png") no-repeat;
}
.pic3 {
  background: url("../assets/index/3.png") no-repeat;
}
.pic5 {
  background: url("../assets/index/4.png") no-repeat;
}
.picFont1 {
  font-size: 0.6rem;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0.1rem 0.3rem;
}
.picFont2 {
  width: 2.1rem;
  height: 0.04rem;
  background: #FFFFFF;
  margin: 0.3rem 0.3rem;
}
.picFont3 {
  width: 6.8rem;
  font-size: 0.36rem;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 0.48rem;
  margin: 0.4rem 0.3rem;
}
.content > div {
  flex: 1;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  height: 3rem;
}
.mainBusiness,
.Enterprise,
.display,
.aboutFont,
.enterpriseFont,
.newsFont {
  font-size: 0.72rem;
  font-weight: normal;
  color: #666666;
  position: absolute;
  top: 2.3rem;
  left: 17rem;
}
.aboutFont {
  top: 3rem;
  left: 17.3rem;
}
.Enterprise {
  top: 2.4rem;
  left: 17rem;
}
.enterpriseFont {
  color: #FFFFFF;
  left: 17.4rem;
}
.display {
  left: 15.4rem;
}
.mainBusinessCh,
.advantageEnterprise,
.dispalyCh,
.aboutFontCh,
.enterpriseFontCh,
.newsFontCh {
  font-size: 0.96rem;
  font-weight: normal;
  color: #333333;
  position: absolute;
  top: 3.3rem;
  left: 17.5rem;
}
.newsFont {
  left: 16rem;
  top: 2.7rem;
}
.dispalyCh {
  top: 3.2rem;
  left: 17rem;
}
.newsFontCh {
  top: 3.7rem;
  left: 17.5rem;
}
.enterpriseFontCh {
  color: #FFFFFF;
  left: 17.5rem;
}
.aboutFontCh {
  top: 4rem;
  left: 17.3rem;
}
.advantageEnterprise {
  top: 3.4rem;
  left: 17.2rem;
}
.line,
.advantageLine,
.displayLine,
.aboutLine,
.enterpriseLine,
.newsLine {
  position: absolute;
  top: 5rem;
  left: 18.2rem;
  width: 2.32rem;
  height: 0.06rem;
  background: #3488EA;
}
.displayLine {
  top: 4.7rem;
  left: 17.8rem;
}
.newsLine {
  left: 18rem;
  top: 5.2rem;
}
.enterpriseLine {
  background: #FFFFFF;
  top: 5rem;
  left: 18.2rem;
}
.aboutLine {
  left: 18rem;
  top: 5.6rem;
}
.advantageLine {
  top: 5rem;
  left: 17.8rem;
}
.introduce,
.newsDel {
  position: absolute;
  top: 6rem;
  left: 10rem;
  width: 19rem;
  height: 1.2rem;
  line-height: 1.2rem;
  display: flex;
}
.introduce > div,
.newsDel > div {
  cursor: pointer;
  flex: 1;
  font-size: 0.6rem;
  margin-left: 0.7rem;
  line-height: 1.2rem;
}
.service,
.newsService {
  background: #3488EA;
  border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
}
.change {
  background: #898989;
  border: 0.02rem solid #898989;
}
.up {
  width: 38.4rem;
  height: 20rem;
}
.detailed {
  width: 23.04rem;
  position: absolute;
  top: 9.6rem;
  left: 8.062rem;
  display: flex;
}
.problem {
  flex: 1;
}
.problem > img,
.enterpriseImg {
  width: 2.4rem;
  height: 2.4rem;
}
.problemFont {
  margin-top: 0.8rem;
  font-size: 0.56rem;
  font-weight: 400;
  color: #333333;
}
.problemFont2 {
  width: 5.76rem;
  height: 1rem;
  margin: 0.5rem 1rem;
  font-size: 0.36rem;
  font-weight: 400;
  color: #666666;
  line-height: 1rem;
}
.problemFont3 {
  margin-top: 0.8rem;
  font-size: 0.36rem;
  font-weight: 400;
  color: #FF3333;
  cursor: pointer;
}
.problemLine {
  width: 7.4rem;
  height: 0.04rem;
  background: #3488EA;
  margin-top: 0.78rem;
}
.problemLine1 {
  width: 7.4rem;
  height: 0.04rem;
  background: #3488EA;
  margin-top: 1.98rem;
}
.font01,
.font2-1,
.font3-1,
.font4-1 {
  position: absolute;
  top: 0.4rem;
  left: 3.7rem;
  font-size: 0.56rem;
  font-weight: 400;
  color: #333333;
}
.font02,
.font2-2,
.font3-2,
.font4-2 {
  position: absolute;
  top: 1.4rem;
  left: 3.6rem;
  width: 6.94rem;
  height: 0.8rem;
  font-size: 0.36rem;
  font-weight: 400;
  color: #666666;
  line-height: 0.6rem;
}
.line01,
.line02,
.line03,
.line04 {
  position: absolute;
  top: 1.3rem;
  left: 3.5rem;
  width: 4.64rem;
  height: 0.02rem;
  background: #3488EA;
}
.font2-1,
.font2-2,
.line02 {
  left: 16.3rem;
}
.font3-1,
.font3-2,
.font4-1 {
  top: 3rem;
}
.line03,
.line04 {
  top: 4rem;
}
.font3-2,
.font4-2 {
  top: 4rem;
}
.font4-1,
.font4-2,
.line04 {
  left: 16.3rem;
}
.productPic > div {
  flex: 1;
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  height: 6rem;
}
.productFont {
  width: 4.4rem;
  height: 0.6rem;
  font-size: 0.52rem;
  font-weight: 400;
  color: #333333;
}
.aboutDown {
  position: absolute;
  top: 1rem;
  right: 2.4rem;
  width: 11.92rem;
  display: inline-block;
  border-radius: 0.6rem;
  background-color: #FFFFFF;
}
.about01 {
  margin: 0.3rem;
  width: 2.36rem;
  height: 0.54rem;
  font-size: 0.56rem;
  font-weight: 400;
  color: #333333;
}
.about02 {
  margin: 0.5rem 0.3rem;
  width: 3.92rem;
  height: 0.3rem;
  font-size: 0.36rem;
  font-weight: 400;
  color: #666666;
}
.about03 {
  margin: 0.6rem 0.3rem;
  width: 9.28rem;
  height: 3.36rem;
  font-size: 0.36rem;
  font-weight: 400;
  color: #666666;
  line-height: 0.5rem;
}
.aboutMore {
  margin: 0.4rem 0.3rem;
  width: 2rem;
  cursor: pointer;
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.44rem;
  font-weight: 400;
  color: #FFFFFF;
  background: #3488EA;
  border-radius: 0.08rem;
}
.carousel {
  position: absolute;
  display: flex;
  top: 21rem;
  left: 17.5rem;
  width: 2.4rem;
  height: 0.5rem;
}
.item {
  flex: 1;
  width: 33.3%;
  min-width: 33.3%;
  max-width: 33.3%;
  margin: 5% 4%;
  border: 0.02rem solid #898989;
}
